<div class="modal fade configure-email-notifications-modal" id="configureEmailNotification" tabindex="-1" role="dialog" aria-labelledby="configureEmailNotificationLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title d-flex align-items-center gap-3" id="configureEmailNotificationLabel">
          <span class="icon-container">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.58301 2.91699H3.84227C2.87066 2.91699 2.08301 3.70464 2.08301 4.67625V16.1577C2.08301 17.1293 2.87066 17.917 3.84227 17.917H15.3238C16.2953 17.917 17.083 17.1293 17.083 16.1577V10.417" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M17.9163 4.99967C17.9163 6.61051 16.6105 7.91634 14.9997 7.91634C13.3888 7.91634 12.083 6.61051 12.083 4.99967C12.083 3.38884 13.3888 2.08301 14.9997 2.08301C16.6105 2.08301 17.9163 3.38884 17.9163 4.99967Z" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.25 10.417H9.58333" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6.25 13.75H12.9167" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          Configure Email Notifications
        </h5>
        <button type="button" class="close close-button custom-hover" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag("kaui/modal/close.svg", width: 20, height: 20) %>
          </span>
        </button>
      </div>
      <%= form_for :configuration, :url =>  email_notifications_configuration_path , :method => :post, :html => {:class => 'form-horizontal'} do |f| %>
        <div class="modal-body">
          <div class='form-group d-flex pb-3'>
            <%= f.label :name, 'Name', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.text_field :name, :class => 'form-control', :readonly => true %>
            </div>
          </div>
          <div class='form-group d-flex pb-3'>
            <%= f.label :account_id, 'Account id', :class => 'col-sm-3 control-label' %>
            <div class="col-sm-9">
              <%= f.text_field :account_id, :class => 'form-control', :readonly => true %>
            </div>
          </div>
          <div class='form-group d-flex'>
            <%= f.label 'Configured Tenants', :class => 'col-sm-3 control-label' %>
            <div id="events">

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= render "kaui/components/button/button", {
            label: 'Close',
            variant: "outline-secondary d-inline-flex align-items-center gap-1",
            type: "button",
            html_class: "kaui-button custom-hover",
            html_options: {
              data: {
                bs_dismiss: "modal",
                aria_label: "Close"
              }
            }
          } %>
          <%= render "kaui/components/button/button", {
            label: 'Save',
            variant: "outline-secondary d-inline-flex align-items-center gap-1",
            type: "submit",
            html_class: "kaui-dropdown custom-hover",
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_tag do %>
    $(document).ready(function() {

        getEventsToConsider();

        $('#configureEmailNotification').on('show.bs.modal', function (e) {
            $("#configuration_account_id").val(e.relatedTarget.dataset['accountId']);
            $("#configuration_name").val(e.relatedTarget.dataset['name']);

            // reset toggles
            var eventsToConsider = $("#configureEmailNotification").find('input[type="checkbox"]');
            $.each( eventsToConsider, function( index, elem ) {
                $(elem).prop('checked',false);
            });

            var events = (e.relatedTarget.dataset['events']).split(',');
            $.each( events, function( index, val ) {
                var trimmedVal = val.trim();
                if (trimmedVal) {
                    var selector = "#" + trimmedVal;
                    $(selector).prop('checked', true);
                }
            });
        });

        function getEventsToConsider() {
          $.getJSON("<%= email_notification_events_to_consider_path %>", function(response) {
            var events = [];
            $.each(response.data, function(index, val) {
              const safeId = 'event_' + index;

              events.push(
                '<div class="form-group d-flex align-items-center gap-2 mb-2">' +
                  '<input type="checkbox" value="' + val + '" name="configuration[event_types][]" id="' + safeId + '">' +
                  '<label class="capitalize mb-0" for="' + safeId + '">' + val + '</label>' +
                '</div>'
              );
            });

            $("#events").html(events.join(""));
          });
        }


    });
<% end %>