<%
=begin%>
 <div class="search">

  <div class="column-block">

    <h1>Email notifications configuration - Showing accounts</h1>

    <table id="accounts-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Events</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="3" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

  <%= render :partial => 'configure_events_modal' %>

</div>

<%= javascript_tag do %>
    $(document).ready(function() {
      var table = $('#accounts-table').DataTable({
        "pagingType": "simple",
        "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ entries"
        },
        "pageLength": 50,
        "displayStart": 0,
        "order": [[ 0, "asc" ]],
        "ordering": false,
        "processing": true,
        "serverSide": true,
        "search": {"search": null},
        "ajax": "<%= email_notification_pagination_path(:record_total => @record_total, :format => :json) %>",
        "columnDefs": [
            { className: "event-class", "targets": [ 2 ] }
        ]
      });

    });
<% end %> 
<%
=end%>

<div class="kaui-container">
  <%= render partial: 'kaui/components/breadcrumb/breadcrumb', locals: {
    breadcrumbs: [
      { label: 'Settings', href: '/' },
      { label: "E-notifications", href: '#' }
    ]
  } %>

  <div class="d-flex" style="gap: 4rem;">
    <%= render template: 'kaui/layouts/kaui_setting_sidebar', 
      locals: {
        identifier: "Settings",
        controller: params[:controller],
        menu_items: [
          { label: 'Account', path: kaui_engine.admin_tenant_path(session[:tenant_id]), controller_suffix: "#{session[:tenant_id]}", icon_path: 'kaui/setting/account.svg' },
          { label: 'Tenants', path: kaui_engine.admin_tenants_path, controller_suffix: 'admin_tenants', icon_path: 'kaui/setting/tenants.svg' },
          { label: 'Users', path: kaui_engine.admin_allowed_users_path, controller_suffix: 'admin_allowed_users', icon_path: 'kaui/setting/users.svg' },
          { label: 'Tags', path: kaui_engine.tags_path, controller_suffix: 'tags', icon_path: 'kaui/setting/tags.svg' },
          { label: 'Tag Definitions', path: kaui_engine.tag_definitions_path, controller_suffix: 'tag_definitions', icon_path: 'kaui/setting/tag-definitions.svg' },
          { label: 'Custom Fields', path: kaui_engine.custom_fields_path, controller_suffix: 'custom_fields', icon_path: 'kaui/setting/custom-field.svg' },
          { label: 'Plugin Manager', path: "/kpm", controller_suffix: 'kpm', icon_path: 'kaui/setting/plugins.svg' },
          { label: 'E-notifications', path: "/kenui", controller_suffix: 'kenui', icon_path: 'kaui/setting/e-notifications.svg' },
          { label: 'Analytics', path: "#", controller_suffix: 'invoices', icon_path: 'kaui/setting/analytics.svg' },
        ]
      }
    %>

    <div class="e-notifications-details w-100">
      <div class="d-flex flex-column">
        <div class="e-notifications-details-header">
          <h2>E-notifications</h2>
          <span>
          </span>
        </div>

        <table id="accounts-table" class="">
          <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Events</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <%= render :partial => 'configure_events_modal' %>
      </div>
    </div>
  </div>
</div>


<style>
  #accounts-table {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .e-notifications-details-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
  }

  .e-notifications-details-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    color: #414651;
    margin-bottom: 1.25rem;
  }

  table {
    overflow-x: auto;
    min-width: 100%;
  }

  table.dataTable tbody td:first-child {
    font-weight: 600 !important;
  }

  table.dataTable tbody td:last-child {
    text-align: end !important;
  }

  table.dataTable tbody tr > td:only-child {
    text-align: center !important;
  }

  table th {
    padding: 0.375rem 0.75rem !important;
    font-weight: 500;
    font-size: 0.875rem;
    color: #717680;
    text-transform: capitalize;
  }

  table td,
  table td a {
    font-weight: 500;
    font-size: 0.875rem !important;
    padding: 1rem 0.5rem !important;
    color: #535862 !important;
    text-transform: capitalize !important;
    text-decoration: none !important;
  }

  table thead tr th::after,
  table thead tr th::before {
    content: "" !important;
    display: inline-block !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 0.75rem 0.75rem !important;
    position: absolute !important;
    right: 0.5rem !important;
  }

  table thead tr th::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    top: 45% !important;
    transform: translateY(-50%) !important;
  }

  table thead tr th::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    bottom: 45% !important;
    transform: translateY(50%) !important;
  }

  #accounts-table_filter {
    margin-top: -2.75rem !important;
  }

  #accounts-table_filter input {
    width: 20rem;
    height: 2.2rem;
    padding: 0.3rem 1rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    outline: none;
  }

  #accounts-table_filter input:focus {
    border: 0.0625rem solid #1A73E8;
    outline: none;
    box-shadow: 0;
  }
</style>

<%= javascript_tag do %>
    $(document).ready(function() {
      var table = $('#accounts-table').DataTable({
        "pagingType": "simple",
        "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ entries"
        },
        "pageLength": 50,
        "displayStart": 0,
        "order": [[ 0, "asc" ]],
        "ordering": false,
        "processing": true,
        "serverSide": true,
        "search": {"search": null},
        "ajax": "<%= email_notification_pagination_path(:record_total => @record_total, :format => :json) %>",
        "columnDefs": [
            { className: "event-class", "targets": [ 2 ] }
        ]
      });

    });
<% end %>
